// UPS API Configuration Template
// Copy this file to Config.xcconfig and fill in your actual values
// Config.xcconfig should be gitignored
// UPS_MERCHANT_ID is optional

UPS_CLIENT_ID = <FILL-ME>
UPS_CLIENT_SECRET = <FILL-ME>
UPS_MERCHANT_ID = <OPTIONAL-FILL-ME>
UPS_ACCOUNT_NUMBER = <FILL-ME>
UPS_OAUTH_BASE_URL = https://wwwcie.ups.com/
UPS_API_BASE_URL = https://wwwcie.ups.com/
DEFAULT_LABEL_FORMAT=GIF
